body {
    background: linear-gradient(to right, #073c8b ,#038336);
}

.card{
    text-align: center;
    align-items: center;
    height: 300px;
    width: 400px;
    background-color: rgb(11, 64, 116);
    position: absolute;
    top: 20%;
    left: 50px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid white;
    box-shadow: 0 0 40px;
    padding: 50px 35px;
}

label {
    color: white;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}