.heading {
    display: flex;
    justify-content: space-between;
    background-color: black;
}

body {
    background-color: #000000 !important;
}
.row {
    display: flex;
    justify-content: space-between;

}


.logout {
    text-decoration: none;
    color: #ff0019;
    font-weight: bold;
    background-color: #000000;
    border-color: #ff0000;
    padding: 0.5rem 1rem;
    font-size: larger;
    border-radius: 0.25rem;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, color 0.15s ease-in-out;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logout:hover,
.logout:focus {
    background-color: #ff0019;
    border-color: #000000;
    color: #000000;
}


.container {
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: #000000;
}

.navbar-nav {
    list-style-type: none;
    display: flex;
    text-decoration: none;
    justify-content: space-between;

}

a{
    color: white;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;  
    font-weight: bolder;
    padding: 1rem;
}

.navbar-nav .nav-link.active {
    color: #000000;
    background-color: rgb(255, 255, 255);
    transition: color 0.3s ease;
    padding: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-link:hover {
    color: #000000;
    background-color: white;
}

.search-form {
    float: right;
}

.search-form input[type="text"] {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
}

.chatter  {
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
    margin: 10px;
}
textarea {
    width: 70%;
    background-color: black;
    color: white;
    resize: none;
    border: 1px solid green;
}

.search-form ::placeholder {
    color: rgb(0, 0, 0);
}

::placeholder{
    color: white;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

button {
    background-color: green;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: large;
}

button:hover {
    background-color: rgb(12, 18, 194);
    cursor: pointer;
}


.container2 {
    padding: 1rem;
}

.trend {
    color: rgb(184, 177, 177);    
    background-color: rgba(0, 0, 0, 0.152);
    font-weight: bolder;

}

.other {
    color: white;
}

hr {
    border: 2.9px solid green;
}

.card {
    background-color:rgb(21, 211, 21);
    border-radius: 4px;
    border: 5px solid black;
    color: black;
    width: 70%;
    margin: auto;
    padding: 10px;
    box-shadow: 5px 5px 8px blue, 10px 10px 8px red, 15px 15px 8px green;
    border-radius: 10px;
    opacity: 1;
    font-weight: bolder;
}

.news {
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
    color: white;
}

#time {
    color: #ff0000a0;
}

