{% extends 'home.html' %}
{% load static %}

{% block comment %}
<div class="col-md-4">
    <div class="comm">
        <a href="{% url 'home' %}" class="back">Back to Posts</a>
    </div>
    <div class="posts">                       
        <div class="card5">                       
            <h2>{{ post.author }}
                {% if request.user == post.author %}
                    <div class='btns'>
                        <a class='btns' href='{% url "editpost" post.pk %}'style='color:white;' ><i class='far fa-edit'></i></a>
                        <a class='btns' href='{% url "deletepost" post.pk %}' style='color:white' ><i class='fas fa-trash'></i></a>
                    </div>
                {% endif %}
            </h2>
            {% if post.image %}
            <div class="imagepost">                                    
                <img src="{{ post.image.url }}" alt="Image"/>
            </div>       
            {% endif %} 
            <p>{{ post.body }}</p> 
            <p id='createdat'>{{ post.created_at }}</p>  <br>     
            
            <div class="conta">
                <div class="likes">
                    <form action="{% url 'likes' post.pk %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button class="like-btn" type="submit">
                            <i class="fas fa-thumbs-up">
                                {%  if  post.likes.all.count == 1 %}
                                {{ post.likes.all.count }} Like
                                {% else %}                                                
                                {{ post.likes.all.count }} Likes
                                {% endif %}
                            </i>
                        </button>
                    </form>
                </div>
                <div class="dislikes">
                    <form action="{% url 'dislikes' post.pk %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button class="dislike-btn" type="submit">
                            <i class="fas fa-thumbs-down">
                                {%  if  post.dislikes.all.count == 1 %}
                                {{ post.dislikes.all.count }} Dislike
                                {% else %}                                                
                                {{ post.dislikes.all.count }} Dislikes
                                {% endif %}
                            </i>
                        </button>
                    </form>
                </div>
            </div>
                
        </div>
    </div>
    <hr>
    <div class="chatbox">
        <form action="" method="post" novalidate>
            {% csrf_token %}
            {{ form.comment }}
            <button type="submit" class="send"><img src="{% static 'img/send.png' %}" alt="Send"></button>
        </form>
        <br>
    </div>
    {% if comments %}
    <div class="comments">
        <h3>Replys</h3>
        {% for comment in comments %}    
        {% if comment.is_parent %}    
        <div class="card6">            
            <h2>
                {{ comment.author }} 
                {% if request.user == comment.author %}
                <a class="btns" href="{% url 'deletecomment' post.pk comment.pk %}"><i class="fas fa-trash"></i></a>

                {% endif %}
            </h2>
            <p>{{ comment.comment }}</p>
            <p id='createdat'>{{ comment.created_at  }} </p>
        </div>
        <div class="conta">
            <div class="likes">
                <form action="{% url 'commentlikes' post.pk comment.pk %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="like-btn" type="submit">
                        <i class="fas fa-thumbs-up">
                            {%  if  comment.likes.all.count == 1 %}
                            {{ comment.likes.all.count }} Like
                            {% else %}                                                
                            {{ comment.likes.all.count }} Likes
                            {% endif %}
                        </i>
                    </button>
                </form>
            </div>
            <div class="dislikes">
                <form action="{% url 'commentdislikes' post.pk comment.pk %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="dislike-btn" type="submit">
                        <i class="fas fa-thumbs-down">
                            {%  if  comment.dislikes.all.count == 1 %}
                            {{ comment.dislikes.all.count }} Dislike
                            {% else %}                                                
                            {{ comment.dislikes.all.count }} Dislikes
                            {% endif %}
                        </i>
                    </button>
                </form>
            </div>
            <div class="reply-btn">
                <button class='reply-btn'  onclick="commentButton('{{comment.pk}}')"><i class="fas fa-comment-dots"></i></button>
            </div>
        </div>
        <div class="chat" id="{{ comment.pk }}">
            <form action="{% url 'commentreplies' post.pk comment.pk %}" class="comment" method="post" novalidate>
                {% csrf_token %}
                <div class="comment-wrapper" id="{{ comment.pk }}">
                    {{ form.comment }}
                    <button type="submit" class="send"><img src="{% static 'img/send.png' %}" alt="Send"></button>
                </div>
            </form>
        </div>
        <hr>
        {% for child_comment in comment.children %}
        <div class="card9-container">
            <div class="card9">            
                <h2>
                    {{ child_comment.author }} 
                    {% if request.user == child_comment.author %}
                    <a class="btns" href="{% url 'deletecomment' post.pk  child_comment.pk %}"><i class="fas fa-trash"></i></a>

                    {% endif %}
                </h2>
                <p>{{ child_comment.comment }}</p>
                <p id='createdat'>{{ child_comment.created_at  }} </p>
            </div>
            <div class="conta">
                <div class="likes">
                    <form action="{% url 'childcommentlikes' post.pk  comment.pk child_comment.pk %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button class="like-btn" type="submit">
                            <i class="fas fa-thumbs-up">
                                {%  if  child_comment.likes.all.count == 1 %}
                                {{ child_comment.likes.all.count }} Like
                                {% else %}                                                
                                {{ child_comment.likes.all.count }} Likes
                                {% endif %}
                            </i>
                        </button>
                    </form>
                </div>
                <div class="dislikes">
                    <form action="{% url 'childcommentdislikes' post.pk comment.pk child_comment.pk %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button class="dislike-btn" type="submit">
                            <i class="fas fa-thumbs-down">
                                {%  if child_comment.dislikes.all.count == 1 %}
                                {{ child_comment.dislikes.all.count }} Dislike
                                {% else %}                                                
                                {{ child_comment.dislikes.all.count }} Dislikes
                                {% endif %}
                            </i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
            <hr>


            {% endfor %}
            {% endif %}
            {% endfor %}        
    </div>
    {% endif %}
</div>
{% endblock %}