{% extends 'home.html' %}
{% load static %}

{% block home %}
<div class="col-md-4">
    <div class="comm">
        <a href="{% url 'postdetail' object.pk %}" class="back">Back to Feed</a>
    </div>
    <h3>Delete Comment</h3>
    <div class="chatbox">
        <form action="" method="post">
            {% csrf_token %}
            <div class="del">
                <h4>Are you Sure ?</h4>
                <p>You are about to delete this comment, Once deleted it can't be undone!</p>
                <button class="delete">Delete</button>
            </div>            
        </form>
    </div>
</div>
{% endblock %}