{% extends "home.html" %}
{% load static %}

{% block navbar %}
<li class="nav-item"><a href="{% url 'home' %}" class="nav-link"><i class="fas fa-home"></i> Home</a></li>
<li class="nav-item"><a href="{% url 'explore' %}" class="nav-link active"><i class="fas fa-search"></i> Explore</a></li>
<li class="nav-item"><a href="{% url 'notifications' %}" class="nav-link"><i class="fas fa-bell"></i> Notifications 
    <span class="badge badge-pill badge-danger">{{not_count}} </span>
    </a></li>
<li class="nav-item"><a href="{% url 'messages' %}" class="nav-link"><i class="fas fa-paper-plane"></i> Messages</a></li>
{% endblock %}
{% block home %}

<div class="not">
    <h1>Explore</h1>
</div>


<div class="news">
    <h1>News</h1>                        
    {% for article in news %}
    <div class="card">
        <a href="{{ article.url }}" target="_blank">{{ article.title }}</a>
        <p>{{ article.description }}</p>
        <p id="time">Publised At: {{ article.publishedAt}}</p>
        <img src="" alt="">
    </div>                    
        {% endfor %}
</div>



{% endblock %}
