{% extends "home.html" %}
{% load static %}

{% block navbar %}
<li class="nav-item"><a href="{% url 'home' %}" class="nav-link"><i class="fas fa-home"></i> Home</a></li>
<li class="nav-item"><a href="{% url 'explore' %}" class="nav-link "><i class="fas fa-search"></i> Explore</a></li>
<li class="nav-item"><a href="{% url 'notifications' %}" class="nav-link "><i class="fas fa-bell"></i> Notifications</a></li> 
<li class="nav-item"><a href="{% url 'messages' %}" class="nav-link active"><i class="fas fa-paper-plane"></i> Messages</a></li>
{% endblock %}


{% block home %}

<link rel="stylesheet" href="{% static 'css/messages.css' %}">

<div class="all">

    <div class="comm">
        <a href="{% url 'messages' %}" class="back">Back</a>
    </div>

    <div class="inbox-container">
        <div class="receiver-container">
            <div class="receiver-header">
                {% if thread.receiver == request.user %}
                    <h1>{{thread.user}}</h1>
                {% else %}
                    <h1>{{thread.receiver}}</h1>
                {% endif %}
            </div>    
        </div>

        {% if message_list.all.count == 0 %}
        <p>No Messages</p>
        {% endif %}
<!-- 
        <div class="container"> -->
            {% for message in message_list %}
            <!-- <div class="row"> -->
                {% if message.sender_user == request.user %}
                    <div class="sent-image">
                        {% if message.image %}
                        <img src="{{ message.image.url }}"/>
                        {% endif %}
                    </div>

                    <div class="sent-message">
                        <p >{{ message.body }}</p>
                        
                    </div> 
                    <i class="fas fa-trash sent" ></i>
                      
                {% elif message.receiver_user == request.user %}
                    <div class="received-image">
                        {% if message.image %}
                        <img src="{{ message.image.url }}"/>
                        {% endif %}
                    </div>
                <div class="received-message">
                    <p >{{ message.body }}</p>                    
                </div>
                <i class="fas fa-trash"></i> 
                {% endif %}
            {% endfor %}
            <!-- </div>
        </div> -->

        <div class="send-container">
            <div class="sendm">
                <form enctype="multipart/form-data" action="{% url 'createmessage' thread.pk %}" method="post" style="display: flex; align-items: center; width: 100%;">
                    {% csrf_token %}
                    <div class="message-input">
                        {{form.body}}
                        {{form.image}}
                    </div>
                    <button class="send-button">Send</button>
                </form>
                <br>
            </div>
        </div>
    </div>
</div>


{% endblock %}