<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Chatter</title>
        <meta  name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
        
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
        <link href="lib/flaticon/font/flaticon.css" rel="stylesheet">
    
        <!-- Libraries Stylesheet -->
        <link rel="stylesheet"  type="text/css" href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    
        <!-- Customized Bootstrap Stylesheet -->
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"> -->
    
        <link rel="stylesheet" href="{% static 'css/all.css' %}">
    </head>
    <body>
        {% block div %}       
        <div class="header">
            <h1>Welcome to Chatter</h1>
            <h5>Turning Chats to Chuckles</h5>
        </div>
        <br>
        <div class="card">
            <form action="" method="post">
                {% block form %}
                <h1>SIGN IN</h1> <br>
                {% if messages %}
                <div class="formerr">
                {% for message in messages %}
                <li>{{message}}</li>
                {% endfor %}
                </div>
                {% endif %}                
                {% csrf_token %}
                <label for='username'>Username</label> <br>
                <input type='text' id='username' name='username' placeholder='Enter Username' > <br>
                <br>
                <label for='password'>Password</label> <br>
                <input type='password' id='password' name='password' placeholder='Enter Password'> <i class="far fa-eye" onclick="showPass()"></i> <br>
                <label class="checkbox">
                <input type="checkbox" id="rememberMe" value="IsRememberMe">Remember Me 
                </label> <br>
                <br>
                <div class="sign">
                    <button class="btn btn-light btn-square rounded-circle me-5" onclick="IsRememberMe()">LOGIN</button>
                </div>
                <h4 style="color: white;">OR</h4> 
                <a class="btn-google">
                    <img src="static/img/google.png" class="google-logo" alt="">
                    Sign In With Google
                </a> <br>
                <br>
                <div class="passwd">
                    <a class="btn me-5" style="color: chartreuse;" onmouseover="this.style.color = 'blue'" onmouseout="this.style.color='chartreuse'" href="">Forgot Password ?</a>
                </div>
                <br><hr>                 
                <h2 style="color: white; margin:0;padding:0;">Don't Have an Account?<a style="color: chartreuse;" style="color: chartreuse;" onmouseover="this.style.color = 'blue'" onmouseout="this.style.color='chartreuse'" href="{% url 'signup' %}"> Sign Up</a></h2>
                {% endblock %}
            </form>
        </div>
        {% endblock %}



        <script src="{% static  'js/login.js' %}"></script>
    </body>
</html>
