<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta  name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chatter Log In</title>
        <link rel="stylesheet" href="{% static 'css/all.css' %}">
    </head>
    <body>
        <div class="card">
            <form>
                <h2>LoG IN</h2>
                {% csrf_token %}
                <label>Name</label> <br>
                <input name='text'>
            </form>
        </div>


    </body>
</html>
