{% extends "home.html" %}
{% load static %}

{% block navbar %}
<li class="nav-item"><a href="{% url 'home' %}" class="nav-link"><i class="fas fa-home"></i> Home</a></li>
<li class="nav-item"><a href="{% url 'explore' %}" class="nav-link "><i class="fas fa-search"></i> Explore</a></li>
<li class="nav-item"><a href="{% url 'notifications' %}" class="nav-link "><i class="fas fa-bell"></i> Notifications</a></li> 
<li class="nav-item"><a href="{% url 'messages' %}" class="nav-link active"><i class="fas fa-paper-plane"></i> Messages</a></li>
{% endblock %}

{% block home %}
<link rel="stylesheet" href="{% static 'css/messages.css' %}">

<div class="not">
    <h1>Messages</h1>
</div>

<div class="coversation-container">
    <div class="conversation">
        <form method="get" action="{% url 'createthread' %}">
            <button>Start a new conversation!</button>
        </form>
    </div>
</div>
<br>
<div class="not">
    <h3>Your Messages</h3>
</div>


{% for thread in threads %}
<div class="thread-container">
        <div class="thread">
            {% if thread.user == request.user %}
            <p>@{{thread.receiver}}</p>
            {% else %}
            <p>@{{thread.user}}</p>
            {% endif %}
        </div>
    <a href="{% url 'thread' thread.pk %}" class="streched_link"></a>
</div>
{% endfor %}




{% endblock %}