{% extends 'login.html' %}
{% load static %}

{% block div %}
<div class="header">
    <h1> Chatter</h1>
    <br>
    <h5>Password Reset</h5>
</div>
<div class="card">
    <h4>
        We've emailed you instructions for resetting your password to the email you entered. <br>
        You should receive them shortly.<br> <br>
        If you don't receive an email, please make sure you've entered the email address you registered with and check your spam folder.   <br>
        <br>
        Thank You.

    </h4>
</div>
{% endblock %}