{% extends 'login.html' %}
{% load static %}
{% block div %}


<div class="header">
    <h1> Chatter</h1>
</div>
<div class="header">
    <h4 style="color: white; margin:0; padding:0;">Enter a New password</h4>
</div>
<hr>
<div class="card">
    <h6 style="width: 60%; margin: 0 auto">
        New Password
      </h6>
    <br />
    <form action="" method="POST">
      {% csrf_token %} 
      {{form.as_p}}
	  	<div>
	    <button type="submit" class="btn btn-primary">Reset Password</button>
	  </div>
	</form>
</div>
{% endblock %}