{% extends "login.html" %}
{% load static %}

{% block form %}
<h1>Create Account</h1>
{% csrf_token %} 
<br>
<h2 style="color: white; margin:0;padding:0;">Already Have an Account? <a style="color: chartreuse;" onmouseover="this.style.color = 'blue'" onmouseout="this.style.color='chartreuse'" href=' {% url "login" %} '>Log In</a></h2><br>
<div class="formerr">
    {% for err in form.errors.as_data.values %}
    {% for data in err %}
    <li>{{data}}</li>
    {% endfor %}
    {% endfor %}
</div>
<label for="first_name">{{form.first_name.label}}</label> &nbsp;&nbsp;&nbsp;
{{form.first_name}}
<br>
<label for="last_name">{{form.last_name.label}}</label>&nbsp;&nbsp;&nbsp;
{{form.last_name}}
<br>
<label for="last_name">{{form.username.label}}</label>&nbsp;&nbsp;&nbsp;
{{form.username}}
<br>
<label for="email">{{form.email.label}}</label>&nbsp;&nbsp;&nbsp;
{{form.email}}
<br>
<label for="date_of_birth">{{form.date_of_birth.label}}</label>&nbsp;&nbsp;&nbsp;
{{form.date_of_birth}}
<br>
<label for="password1">{{form.password1.label}}</label>&nbsp;&nbsp;&nbsp;
{{form.password1}}
<br>
<label for="password2">Confirm Password</label>&nbsp;&nbsp;
{{form.password2}}
<br>
<br>
<div class="sign">
    <button class="btn btn-light btn-square rounded-circle me-5">SUBMIT</button>
</div>
{% endblock %}