{% extends "home.html" %}
{% load static %}

{% block navbar %}
<li class="nav-item"><a href="{% url 'home' %}" class="nav-link"><i class="fas fa-home"></i> Home</a></li>
<li class="nav-item"><a href="{% url 'explore' %}" class="nav-link "><i class="fas fa-search"></i> Explore</a></li>
<li class="nav-item"><a href="{% url 'notifications' %}" class="nav-link"><i class="fas fa-bell"></i> Notifications 
    <span class="badge badge-pill badge-danger">{{not_count}} </span>
    </a></li>
<li class="nav-item"><a href="{% url 'messages' %}" class="nav-link active"><i class="fas fa-paper-plane"></i> Messages</a></li>
{% endblock %}
{% block home %}
<link rel="stylesheet" href="{% static 'css/messages.css' %}">
<div class="not">
    <h1>Messages</h1>
</div>


<div class="comm">
    <a href="{% url 'messages' %}" class="back">Back to Messages</a>
</div>

<div class="coversation-container">
    <div class="conversation">
        <h3>Start a Conversation!</h3>
    </div>
</div>

<br>
{% if messages %}
<div class="formerr">
{% for message in messages %}
<li>{{message}}</li>
{% endfor %}
</div>
{% endif %}   

<br>
<div class="createthread-container">
    <div class="createthread">
        <h4>Enter Username</h4>
            <form method="post" action="">
                {% csrf_token %}
                {{ form }}
                <button>Submit</button>
            </form>
    </div>
</div>



{% endblock %}