{% extends "home.html" %}
{% load static %}

{% block navbar %}
<li class="nav-item"><a href="{% url 'home' %}" class="nav-link"><i class="fas fa-home"></i> Home</a></li>
<li class="nav-item"><a href="{% url 'explore' %}" class="nav-link"><i class="fas fa-search"></i> Explore</a></li>
<li class="nav-item"><a href="{% url 'notifications' %}" class="nav-link"><i class="fas fa-bell"></i> Notifications</a></li>
<li class="nav-item"><a href="{% url 'messages' %}" class="nav-link"><i class="fas fa-envelope"></i> Messages</a></li>
{% endblock %}
{% block home %}

<div class="not">
    <h1>Profile</h1>
</div>

<div class="col-md-4">
    <div class="comm">
        <a href="{% url 'home' %}" class="back">Back to Feed</a>
    </div>

    <div class="profile-container">
        <div class="profile">
            <br>
            <img src="{{ profile.picture.url }}" height="150" width="150" alt=""> 
            <div class="details">
                {% if profile.name %}
                <h1>Name: {{ profile.name }} </h1> 
                {% endif %} 
                
                {% if profile.bio %}
                <p>Bio: {{ profile.bio }}</p> 
                {% endif %}
        
                {% if profile.location %}
                <p>Location: {{ profile.location }}</p> 
                {% endif %}
        
                {% if profile.birth_date %}
                <p>Date Of Birth: {{ profile.birth_date }}</p>
                {% endif %}     
            </div>
            
            <div class="follows">
                FOLLOWERS: {{ number_of_followers }}
                {% if user != request.user %}
                {% if is_following %}
                <form action="{% url 'removefollower' profile.pk %}" method="post">
                    {% csrf_token %}
                    <button class="btn" style="background-color: red;">UnFollow</button>
                </form>
                {% else %}
                <form action="{% url 'addfollower' profile.pk %}" method="post">  
                    {% csrf_token %}
                    <button class="btin">Follow</button>
                </form>
                {% endif %}
                {% endif %}
            </div> 
        </div>
          

        <div class="edit">
            <button><a href="{% url 'editprofile' profile.pk %}">Edit Profile</a></button>
        </div>
         
    </div>   

    
    <div class="poster-container">
        <div class="posters">    
            <h1>My Posts</h1> 
            {% for post in posts %}                                   
            <div class="card4"> 
                <a href="{% if post.author.profile %}{% url 'profile' post.author.profile.pk %}{% endif %}">
                    <h2 class="at">@{{ post.author }}</h2>
                </a>
                {% if request.user == post.author %}
                <div class='btns'>
                    <a class='btns' href='{% url "editpost" post.pk %}'style='color:white;' ><i class='far fa-edit'></i></a>
                    <a class='btns' href='{% url "deletepost" post.pk %}' style='color:white' ><i class='fas fa-trash'></i></a>
                </div>
                    {% endif %}
                <div class="pbody">
                    <p>{{ post.body }}</p>
                    <p id='createdat'>{{ post.created_at }}</p> <br>
                    <a href="{% url 'postdetail'  pk=post.pk %}" class="streched_link"></a>
                </div>
                <div class="likes">
                    <form action="{% url 'likes' post.pk%}" method="post">
                        {% csrf_token %}
                        <input type="hidden" >
                        <button class="like-btn" type="submit">
                            <i class="fas fa-thumbs-up">{{ post.likes.all.count }}</i>
                        </button>
                    </form>
                    <form action="{% url 'dislikes' post.pk %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" >
                        <button class="dislike-btn" type="submit">
                            <i class="fas fa-thumbs-down">{{ post.dislikes.all.count }}</i>
                        </button>
                    </form>
                </div>
            </div>  
        {% endfor %}  
        </div>
    </div>
    
    <hr>
</div>
{% endblock %}