{% extends "home.html" %}
{% load static %}

{% block navbar %}
<li class="nav-item"><a href="{% url 'home' %}" class="nav-link"><i class="fas fa-home"></i> Home</a></li>
<li class="nav-item"><a href="{% url 'explore' %}" class="nav-link"><i class="fas fa-search"></i> Explore</a></li>
<li class="nav-item"><a href="{% url 'notifications' %}" class="nav-link"><i class="fas fa-bell"></i> Notifications 
    <span class="badge badge-pill badge-danger">{{not_count}} </span>
    </a></li>
<li class="nav-item"><a href="{% url 'messages' %}" class="nav-link"><i class="fas fa-paper-plane"></i> Messages</a></li>
{% endblock %}


{% block home %}

<div class="not">
    <h1>Profile</h1>
</div>

<div class="col-md-4">
    <div class="comm">
        <a href="{% url 'home' %}" class="back">Back to Feed</a>
    </div>

    <div class="profile-container">
        <div class="profile">
            <br>
            <img src="{{ profile.picture.url }}" height="150" width="150" alt="">             
            <h1 style='margin:0;color:white'>{{ user.username.capitalize }}</h1>
            <div class="follows">
                <a href="{% url 'lof' profile.pk %}">FOLLOWERS: {{ number_of_followers }}</a>                
                {% if user != request.user %}
                {% if is_following %}
                <form action="{% url 'removefollower' profile.pk %}" method="post">
                    {% csrf_token %}
                    <button class="btn" style="background-color: red;">UnFollow</button>
                </form>
                {% else %}
                <form action="{% url 'addfollower' profile.pk %}" method="post">  
                    {% csrf_token %}
                    <button class="btin">Follow</button>
                </form>
                {% endif %}
                {% endif %}
            </div> 
        </div>
        {% if request.user == user %}
            <div class="edit">
                <button><a href="{% url 'editprofile' profile.pk %}">Edit Profile</a></button>
            </div>
        {% endif %}
    </div>
<br><br>
    <div class="bio-container">
        <div class="bio">
            <div class="details"> 
                {% if profile.name %}
                <p>Name: {{ profile.name }} </p> 
                {% endif %} 
                
                {% if profile.bio %}
                <p>Bio: {{ profile.bio }}</p> 
                {% endif %}
        
                {% if profile.location %}
                <p>Location: {{ profile.location }}</p> 
                {% endif %}
        
                {% if profile.birth_date %}
                <p>Date Of Birth: {{ profile.birth_date }}</p>
                {% endif %}     
            </div>
        </div>
    </div>
         
    
    <div class="poster-container">
        <div class="posters">
            <h1>{{user.username.capitalize}}'s Posts</h1>
            {% for post in posts %} 
                <div class="card4"> 
                <a href="{% if post.author.profile %}{% url 'profile' post.author.profile.pk %}{% endif %}">
                    <h2 class="at">@{{ post.author }}</h2>
                </a>
                {% if request.user == post.author %}
                <div class='btns'>
                    <a class='btns' href='{% url "editpost" post.pk %}'style='color: white;' ><i class='far fa-edit'></i></a>
                    <a class='btns' href='{% url "deletepost" post.pk %}' style='color:white' ><i class='fas fa-trash'></i></a>
                </div>
                    {% endif %}
                <div class="pbody">
                    {% if post.image %}
                    <div class="imagepost">                                    
                        <img src="{{ post.image.url }}" alt="Image"/>
                    </div>       
                    {% endif %} 
                <p>{{ post.body }}</p>
                    <p id='createdat'>{{ post.created_at }}</p> <br>
                    <a href="{% url 'postdetail'  pk=post.pk %}" class="streched_link"></a>
                </div>
                <div class="conta">
                    <div class="likes">
                        <form method="post" action="{% url 'likes' post.pk %}" >
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button class="like-btn" type="submit">
                                <i class="fas fa-thumbs-up">
                                    {%  if  post.likes.all.count == 1 %}
                                    {{ post.likes.all.count }} Like
                                    {% else %}                                                
                                    {{ post.likes.all.count }} Likes
                                    {% endif %}
                                </i>
                            </button>
                        </form>
                    </div>
                    <div class="dislikes">
                        <form action="{% url 'dislikes' post.pk %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button class="dislike-btn" type="submit">
                                <i class="fas fa-thumbs-down">
                                    {%  if  post.dislikes.all.count == 1 %}
                                    {{ post.dislikes.all.count }} Dislike
                                    {% else %}                                                
                                    {{ post.dislikes.all.count }} Dislikes
                                    {% endif %}
                                </i>
                            </button>
                        </form>
                    </div> 
                    <div class="reply">
                        <button type="submit"><a href="{% url 'postdetail' post.pk %}"><i class="fas fa-comment">Comments</i></a></button>
                    </div> 
                </div>
            </div>  
        {% endfor %}  
        </div>
    </div>
    
    <hr>
</div>
{% endblock %}